.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -40px 40px #000;
}


.profile {
  display: flex;
  align-items: center;
  gap: 40px;
}

.profile__text {
  font-size: 1.5rem;
}

.profile__name {
  font-size: 5rem;
  color: var(--primary-color);
}
